.wrapper {
  min-height: calc(100vh - 21px);
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;

  .posts {
    padding: 1em;
    min-width: 100px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .list {
      overflow-y: scroll;
      max-height: 500px;
      text-align: center;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .pagination_posts {
      margin-top: 40px;
      display: flex;
      background-color: lightgreen;

      button {
        margin: 0 10px;
        padding: 10px;
      }
    }
  }
}


.create_post {
  height: 30px;
  padding: 0 10px;
  margin: 5px;
}
